html, body {
    height: 100%;  
}


.backGround {
    background-color: rgb(150, 188, 201);
    height: 100%;
}

.profBody, .projects {
    background-color: rgb(150, 188, 201);
    padding: 15px;
}

.about, .languages, .proj {
    background-color: rgb(32, 49, 43);
    color: white;
    margin: 5px;
    border-radius: 15px 50px;
}


h6 {
    text-decoration: underline;
}

.navbar {
    color: white;
}



footer {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(32, 49, 43);
    color: white;
}

