html, body {
    height: 100%;  
}

.derp {
    background-color: lightblue;
}

li {
    display: list-item;
}

.wrapper {
    width: 100%;
    background-color: lightblue;

}

.profBody, .projects {
    background-color: lightblue;
}

.about, .languages, .proj {
    background-color: white;
    margin: 5px;
    border-radius: 15px 50px;
}


h6 {
    text-decoration: underline;
}


.card-footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
